*{
    margin: 0;
    padding: 0;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}

/**서브 페지 네게션 공통 적용**/

.nav{
    width: 100%; 
    height: 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menubar{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    border: 0px solid blue;
    margin: 0 auto;
    border: 0px solid red;
    margin-top: -930px;

}

.logo0{ 
    margin-left: -990px;
    margin-top: -925px;
    border: 0px solid red;
    position: absolute;
    
}

.logo{ 
    padding-top: 5px;
    padding-right: 400px;
    list-style: none;
}

.menu{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.06;
    line-height: 0;
    padding-top: 43px;
    text-transform: capitalize;
    

}


.text-menu{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: -0.03em;
    padding: 32px 0;
    position: relative;
    padding-top: 55px;
}

.menu a:link, :visited, :active{color:gray; transition: all 0.7s;}

.menu a:hover{color: #000;
transition: all 0.7s;}


.script{
    position: relative;
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
} 

.script img{
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.text-menu:before{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 42px;
    height: 3px;
    background-color: #000;
    opacity: 0;
    transition: all 0.5s;
}

.text-menu:hover:before{
    opacity: 1;
    transition: all 0.5s;
}

.go_top{
    width: 168px;
    height: 65px;
    position: fixed;
    right: 70px;
    bottom: 70px;
    text-align: center;
    line-height: 40px;
}
/**푸터 공통 적용**/
footer{
    width: 100%;
    height: 400px;
    background-color: #4C76ED;
    position: relative;
}
.footer_img{
    margin: 0 auto;
    width: 100%;
    height: 160px;
    display: flex; /**이게 무엇인가? -공부하기**/
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    position: absolute;
}
.logo_position{
    width: 1100px;
    height: 98px;
    padding-top: 70px;
    border: 0px solid red;
    display: flex; /**이게 무엇인가? -공부하기**/
    align-items: center;
    justify-content: center;
    position: absolute;
    
}
.logo_position2{
    width: 1100px;
    height: 140px;
    margin-top: 390px;
    border: 0px solid red;
    display: flex; /**이게 무엇인가? -공부하기**/
    align-items: center;
    justify-content: center;
    position: absolute;

}

.ft_txt{
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    padding-top: 46px;
}



/**사이드 바**/
input[id="menuicon"]{
    display: none;
    
}

input[id="menuicon"] + label {
    display: block;
    width: 60px;
    height: 50px;
    position:absolute; 
    right: 0;
    top: calc(50% - 25px);
    transition: all .35s;
    cursor: pointer;
    z-index: 1;
    border: 0px solid ;
    margin-top: -200px;
    margin-right: 300px;
    position: fixed;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    border: 0px solid red;
    
}
input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}
/**움직이는 모션 적용**/
input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
    
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
    z-index: 2;
}
input[id="menuicon"]:checked + label {
    z-index: 2;
    right: -5px;
    margin-top: 0px;
}


div[class=sidebar] {
    width: 300px;
    height: 100%;
    background: #fff;
    opacity: 70%;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
}

.sidebar{
    text-align: center;
    position: relative;
    
    
}

.in01{
    color: #000;
    font-size: 1.5em;
    font-style: Noto Sans KR;
    filter: drop-shadow(0px 0px 9px #3873F4);
    transition: all 1s;
    cursor: pointer;
    list-style: none;
    margin-top: 360px;
    position: absolute;   
    text-align: center; 
    margin-left: 90px;
}

.in02{
    padding-top: 20px;
}

/**메인**/

.bg01{
    border: 0px solid ;
    width: 100%;
    height: 1080px;
    background-image: url('img/bg01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}


.tit{
    border: 0px solid ;
    width: 1100px;
    position: absolute;
    margin-bottom: 350px;
    transition: all .35s;

}
.tit2{
    width: 1100px;
    position: absolute;
    margin-top: 30px;
}
.tit3{
    width: 1100px;
    position: absolute;
    margin-top: 350px;
}

/**서브 컨텐츠 시작**/
.box01{
    background-image: url(img/bg02.png);
    border: 1px solid ;
    width: 100%;
    height: 567px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tits1{
    width: 1100px;
    position: absolute;
    margin-top: -300px;
}
.tits2{
    width: 1100px;
    position: absolute; 
    text-align: right;
    margin-top: 200px;
    margin-right: 50px;
    
} 
.pont{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    color: #fff;
    border-right: 3px solid white;
    animation: blink .4s infinite, typing 2s steps(25);
    white-space: nowrap;
    overflow: hidden;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-duration: 3.5s;
    /*animation-delay: 2s;*/

}

@keyframes blink {

    50%{
        border-color: transparent;
    }
}

@keyframes typing {
    from{
        width: 0;
    }
    to
    {
        width: 940px;
    }
}

.box02{
    background-image: url(img/bg03.png);
    border: 0px solid ;
    width: 100%;
    height: 1032px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.titss{
    width: 1100px;
    position: absolute;
    text-align: center;
    margin-top: -750px;
    border: 0px solid;
}
.titss1{
    width: 1100px;
    position: absolute;
    text-align: right;
    margin-top: -300px;
    margin-right: 400px;  
}
.titss2{
    width: 1100px;
    position: absolute;
    margin-top: 50px;
    text-align: left;
    margin-left: 400px;
   
}
.titss3{
    width: 1100px;
    position: absolute;
    text-align: right;
    margin-top: 400px;
    margin-right: 400px; 
    
   
}
.titss4{
    width: 1100px;
    position: absolute;
    margin-top: 690px;
    text-align: left;
    margin-left: 400px;
   
}

.box03{
    background-image: url(img/bg04.png);
    border: 0px solid ;
    width: 100%;
    height: 1064px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.titn1{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;  
    margin-top: -750px;
    margin-left: 5px;
}
.titn2{
    width: 1100px;
    position: absolute;
    text-align:left;
    margin-top: -320px;
    margin-left: 128px;
}

.titn3{
    width: 1100px;
    position: absolute;
    text-align: left;
    border: 0px solid;
    margin-top: 550px;
    margin-left: 100px;
}

.titn4{
    width: 1100px;
    position: absolute;
    text-align: center;
    border: 0px solid;
    margin-top: 550px;
}

.titn5{
    width: 1100px;
    position: absolute;
    text-align:right;
    border: 0px solid;
    margin-top: 550px;
    margin-right: 100px;
}

.box04{
    background-color: #FAFBFF;
    border: 0px solid ;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.titg1{
    width: 1100px;
    position: absolute;
    text-align: center;
    border: 0px solid;
    margin-top: -750px;
    margin-left: -60px;
    
}

.titg2{
    width: 1100px;
    position: absolute;
    text-align: center;
    border: 0px solid;
    margin-top: -300px;
   
}
.titg3{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: 50px;
    margin-left: 350px;
}
.titg4{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: 50px;
    margin-left: 750px;
}
.titg5{
    width: 1100px;
    position: absolute;
    text-align:right;
    border: 0px solid;
    margin-top: 50px;
    margin-right: 750px;
}
.titg6{
    width: 1100px;
    position: absolute;
    text-align:right;
    border: 0px solid;
    margin-top: 50px;
    margin-right: 350px;
}
.titg7{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: 500px;
    margin-left: 350px;
}
.titg8{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: 500px;
    margin-left: 750px;
}
.titg9{
    width: 1100px;
    position: absolute;
    text-align:right;
    border: 0px solid;
    margin-top: 530px;
    margin-right: 750px;
}
.titg10{
    width: 1100px;
    position: absolute;
    text-align:right;
    border: 0px solid;
    margin-top: 500px;
    margin-right: 350px;
}

.box05{
    background-color: #FAFBFF;
    border: 0px solid ;
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}


    .parent2 { 
        position: absolute;
        margin-top: -1100px;
        }
.popop{
    width: 904px;
    height: 910px;
    margin-top: 250px;
}
.div1 {
        grid-area: 1 / 1 / 3 / 2;
        background-image: url('img/pic01.png');
        width: 290px;
        height: 610px;
        position: absolute;
        
         
} 
.div2 { 
        grid-area: 1 / 2 / 2 / 4;
        background-image: url('img/pic02.png');
        position: absolute;
        width: 600px;
        height: 300px;
        margin-left: 300px;
        
    }  
.div3 {
        grid-area: 2 / 2 / 3 / 4;
        background-image: url('img/pic03.png');
        position: absolute;
        width: 600px;
        height: 300px;
        margin-left: 300px;
        margin-top: 310px;
        
    } 
.div4 {
        grid-area: 3 / 1 / 4 / 3;
        background-image: url('img/pic04.png');
        position: absolute;
        width: 600px;
        height: 285px;
        margin-right: 300px;
        margin-top: 620px;
        
        
    } 
.div5 {
        grid-area: 3 / 3 / 4 / 4;
        background-image: url('img/pic05.png');
        position: absolute;
        width: 291px;
        height: 285px;
        margin-left: 609px;
        margin-top: 620px;
        
    } 
 
    .div1:hover{
        background-image: url('img/pic01h.png');
    }

    .div2:hover{
        background-image: url('img/pic02h.png');
    
    } 
    .div3:hover{
        background-image: url('img/pic03h.png');
    
    } 
    .div4:hover{
        background-image: url('img/pic04h.png'); 
    
    }
    .div5:hover{
        background-image: url('img/pic05h.png');
    
    } 

 

/**서브페이지 시작**/


.sbox01{
    width: 100%;
    height: 1080px;
    background-image: url('img/subg01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
}

.tity1{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: -200px;
    margin-left: 0px;
}
.tity3{ 
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    text-align: right;
    margin-top: 350px;
    margin-left: 200px;
    
    
}

.gg01{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: -13px;
}
.gg1{
    width: 100%;
    height: 1214px;
    margin-bottom: 222px;
    position: relative;
}

.ggg_1{
    width: 100%;
    height: 1214px;
    margin-bottom: 222px;
    position: relative;
    margin-top: -14px;
}

.gg_1{
    position: absolute;
    margin-top: -870px;
  
}
.gg_2{
    position: absolute;
    margin-top: -860px;
    
}
.gg2{
    width: 752px; 
    height: 1383px;
    margin-left: 135px;
    background-image: url('img/tity07.png');
    position: relative;
   
}

.ggg1{
    margin-left: 270px;
    margin-top: 225px;
    border: 0px solid red;
    position:absolute;
}
.ggg2{
    margin-left: 270px;
    margin-top: 550px;
    border: 0px solid red;
    position:absolute;
}
.ggg3{
    margin-left: 270px; 
    margin-top: 876px;
    border: 0px solid red;
    position:absolute;
}
.ggg4{
    margin-left: 270px;
    margin-top: 1200px;
    border: 0px solid red;
    position:absolute;
}
.ggg5{
    margin-top: 70px;
    border: 0px solid red;
    position:absolute;
}
.ggg6{
    margin-top: 650px;
    border: 0px solid red;
    position:absolute;
}

/**서브 2 시작**/

.sbox02{
    width: 100%;
    height: 1080px;
    background-image: url('img/subg01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
}

.titp1{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: -170px;
    margin-left: opx;
}
.titp3{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-left: 1000px;
    margin-top: 370px;
}

.gg01{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: -13px;
}

.pp1{
    width: 100%;
    height: 807px;
    border: 0px solid red;
    margin-top: -50px;
    margin-bottom: 210px;
}

.pp2{
    width: 752px; 
    height: 850px;
    position: relative;
    border: 0px solid red;
   
}

.ppp1{
    margin-left: px;
    margin-top: 10px;
    border: 0px solid red;
    position:absolute;
}
.ppp2{
    margin-left: px;
    margin-top: 390px;
    border: 0px solid red;
    position:absolute;
}
.ppp3{
    margin-left: px; 
    margin-top: 670px;
    position:absolute;
}
.ppp4{
    width: 1100px;
    margin-top: 600px;
    text-align: right;
    position:absolute;
}
.ppp5{
    width: 1100px;
    text-align: left;
    margin-top: 300px;
    position:absolute;
}
.ppp6{
    width: 1100px;
    text-align:left;
    margin-left: 15px;
    margin-top: 1500px;
    border: 0px solid red;
    position:absolute;
}
.ppp7{
    width: 1100px;
    text-align:right;
    margin-top: 1850px;
    position:absolute;
}
.ppp8{
    width: 1100px;
    text-align:center; 
    margin-top: 3000px;
    border: 0px solid red;
    position:absolute;
}
.ppp9{
    width: 1100px; 
    text-align:center;
    margin-top: 3160px;
    border: 0px solid red;
    position:absolute; 
} 

/**서브 4 시작**/

.sbox04{
    width: 100%;
    height: 1081px;
    background-image: url('img/subg01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
    border: 0px solid red;
}

.titw1{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: -170px;
    margin-left: opx;
}
.titw3{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    text-align: right;
    margin-top: 600px; 
} 

.gg01{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center; 
    background-size: cover;
    margin-top: -13px;
}

.pw1{
    width: 100%;
    height: 807px;
    border: 0px solid red;
    margin-top: -70px;
    margin-bottom: 210px;
}

.pw2{
    width: 752px; 
    height: 850px;
    position: relative;
    border: 0px solid red;
   
}

.ppw1{
    width: 1100px;
    text-align: right; 
    margin-left: -70px;
    margin-top: 100px;
    border: 0px solid red;
    position:absolute;
}
.ppw2{
    width: 1100px;
    text-align: left;
    margin-left: -100px;
    margin-top: 90px;
    border: 0px solid red;
    position:absolute;
}
.ppw3{
    width: 1100px;
    text-align: center; 
    margin-top: 300px;
    border: 0px solid red;
    position:absolute;
}
.ppw4{
    width: 1100px;
    text-align: center; 
    margin-top: 730px;
    border: 0px solid red;
    position:absolute;
}
.ppw5{
    width: 1100px;
    text-align:center;
    margin-top: 1480px;
    border: 0px solid red;
    position:absolute;
}
.ppw6{ 
    width: 1100px;
    text-align:left;
    margin-left: 15px;
    margin-top: 1780px;
    border: 0px solid red;
    position:absolute;
}

/**서브 5 시작**/
.sbox05{
    width: 100%;
    height: 1081px;
    background-image: url('img/subg01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
    border: 0px solid red;
}

.tith1{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: -170px;
}
.tith3{
    width: 1100px;
    position: absolute;
    text-align:left;
    margin-right: 300px;
    border: 0px solid;
    text-align: right;
    margin-top: 500px;
}

.gg01{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: -13px;
}

.ph1{
    width: 100%;
    text-align: center;
    margin-left: 75px;
    height: 807px;
    border: 0px solid red;
    margin-top: -50px;
    margin-bottom: 210px;
}

.phh1{
    width: 100%;
    text-align: center;
    
    height: 807px;
    border: 0px solid red;
    margin-top: -50px;
    margin-bottom: 210px;
}

.ph2{
    width: 1100px; 
    height: 350px;
    position: relative;
    border: 0px solid red;
    margin-bottom: 450px;
}

.pph1{
    width: 1100px;
    text-align:center; 
    margin-top: 50px;
    border: 0px solid red;
    position:absolute;
}
.pph2{
    width: 1100px;
    text-align: center;
    margin-top: 370px;
    border: 0px solid red;
    position:absolute;
}
.pph3{
    width: 1100px;
    text-align: center; 
    margin-top: 300px;
    border: 0px solid red;
    position:absolute;
}
.pph4{
    width: 1100px;
    text-align: center; 
    margin-top: 730px;
    border: 0px solid red;
    position:absolute;
}
.pph5{
    width: 1100px;
    text-align:center;
    margin-top: 1480px;
    border: 0px solid red;
    position:absolute;
}
.pph6{ 
    width: 1100px;
    text-align:left;
    margin-left: 15px;
    margin-top: 1780px;
    border: 0px solid red;
    position:absolute;
}

/**서브 3 시작**/

.sbox03{
    width: 100%;
    height: 1081px;
    background-image: url('img/subg01.png');
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;  
    border: 0px solid red;
}

.titj1{
    width: 1100px;
    position: absolute;
    text-align:left;
    border: 0px solid;
    margin-top: -200px;
    margin-left: opx;
}
.titj3{
    width: 1100px;
    position: absolute;
    text-align:left;
    margin-right: 0px;
    border: 0px solid;
    text-align: right;
    margin-top: 390px;
}

.gg01{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    margin-top: -13px;
}

.pj1{
    width: 100%;
    text-align: center;
    height: 453px;
    border: 0px solid red;
    margin-top: -50px;
    margin-bottom: 50px; 
}

.ppj1{
    width: 1100px;
    text-align:center; 
    margin-top: 270px;
    border: 0px solid red;
    position:absolute;
}
.ppj2{
    width: 1100px;
    text-align:center; 
    margin-top: 1400px;
    border: 0px solid red;
    position:absolute;
}
.ppj3{
    width: 1100px;
    text-align:center; 
    margin-top: 1600px;
    border: 0px solid red;
    position:absolute; 
}
.ppj4{
    width: 1100px;
    text-align:center; 
    margin-top: 2200px;
    border: 0px solid red;
    position:absolute; 
}

/**2번째 콘텐츠**/
.pjj1{
    width: 100%;
    text-align: center;
    height: 453px;
    border: 0px solid red;
    margin-top: -50px;
    margin-bottom: 50px; 
}
.ppjj1{
    width: 1100px;
    text-align:center; 
    margin-top: 320px;
    border: 0px solid red;
    position:absolute;
}
.ppjj2{
    width: 1100px;
    text-align:center; 
    margin-top: 1400px;
    border: 0px solid red;
    position:absolute;
}
.ppjj3{
    width: 1100px;
    text-align:center; 
    margin-top: 1600px;
    border: 0px solid red;
    position:absolute; 
}
.ppjj4{
    width: 1100px;
    text-align:center; 
    margin-top: 2300px;
    border: 0px solid red;
    position:absolute; 
}

.ppjjj3{
    width: 1100px;
    text-align:center; 
    margin-top: 1450px;
    border: 0px solid red;
    position:absolute; 
}

.ppjjj4{
    width: 1100px;
    text-align:center; 
    margin-top: 2250px;
    border: 0px solid red;
    position:absolute; 
}


